<html lang="en">
    <div class=" flex flex-row items-center justify-center w-full bg-slate-800 border-2 rounded-lg h-32">
        <nav class="p-4">
            <a href="/" class="text-white mr-4">Home</a>            
            <% if (!loggedIn) { %>
                <a href="/signup" class="text-white ml-4">Signup</a>
                <a href="/signin" class="text-white ml-4">Login</a>
            <% } %>
            <!-- <a href="/signin" class="text-white ml-4">LOGIN</a> -->
            <% if (loggedIn) { %>
                <a href="/search" class="text-white ml-4">Search</a>
                <a href="/signin/signout" class="text-white ml-4">Logout</a>
            <% } %>
        </nav>
    </div>
</html>