<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs') %>
<%- include ('./partials/navbar.ejs') %>
<body>
    <h1>Hello World</h1>
    <p>My name is </p>
    <p>My age is </p>
</body>
</html>